
/* colors  */
$off-black : red;  
$primaryColor : black; 
$purple : #8357c5; 

$primaryColor : #111111;
$yellowColor :   #f1c50e; 
$bgColor :    #e5e5e5; 
$cardTextColor : #808080;
$bgColorFooter : #333333;
$cirlceColor :  #f1c50e; 

/* font size */
$font-size-m : 1rem;
$font-size-s : 1rem;
$font-size-l : 1rem;
$font-size-xl : 1rem;

/* padding size  */
$size-s : 1rem;
$size-m : 2rem;
$size-l : 3rem;
$size-xl : 4rem;

$leftPaddingXL : 150px ; 
$paddingL : 100px ; 
$paddingM : 50px ; 
$paddingS : 20px ; 

/* breakpoints  */
$bp-phone : 600px; 
$bp-tablet : 768px; 
$bp-laptop : 992px; 
$bp-desktop : 1200px; 


